.inline-md-root .monaco-editor .inline-md-code {
    color: var(--ib-md-inline-code, #C678DD) !important;
    background: var(--ib-md-inline-code-background, #21252bA0);
    border-radius: 3px;
    padding: 0.1em 0.3em;
    font-family: var(--vscode-editor-font-family, ui-monospace, SFMono-Regular, Menlo, Consolas, monospace);
}
