.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.mjs
src/markdownEditor/build.mjs
src/markdownEditor/webview/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
.cursor/**
docs/**
generators/**
