.inline-md-quote-marker {
    color: transparent !important;
}

.inline-md-root .monaco-editor .inline-md-quote {
    box-sizing: border-box;
    width: 100% !important;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.inline-md-quote-text {
    color: color-mix(in srgb, var(--vscode-descriptionForeground, #9da5b4) 60%, transparent) !important;
}

.inline-md-root .monaco-editor .inline-md-quote-depth-1 {
    background-image: linear-gradient(to right, var(--ib-md-blockquote-border) 0 3px, transparent 3px);
}

.inline-md-root .monaco-editor .inline-md-quote-depth-2 {
    background-image: linear-gradient(
        to right,
        var(--ib-md-blockquote-border) 0 3px,
        transparent 3px 11px,
        var(--ib-md-blockquote-border) 11px 14px,
        transparent 14px
    );
}

.inline-md-root .monaco-editor .inline-md-quote-depth-3 {
    background-image: linear-gradient(
        to right,
        var(--ib-md-blockquote-border) 0 3px,
        transparent 3px 11px,
        var(--ib-md-blockquote-border) 11px 14px,
        transparent 14px 22px,
        var(--ib-md-blockquote-border) 22px 25px,
        transparent 25px
    );
}

.inline-md-root .monaco-editor .inline-md-quote-depth-4 {
    background-image: linear-gradient(
        to right,
        var(--ib-md-blockquote-border) 0 3px,
        transparent 3px 11px,
        var(--ib-md-blockquote-border) 11px 14px,
        transparent 14px 22px,
        var(--ib-md-blockquote-border) 22px 25px,
        transparent 25px 33px,
        var(--ib-md-blockquote-border) 33px 36px,
        transparent 36px
    );
}

.inline-md-root .monaco-editor .inline-md-quote-depth-5 {
    background-image: linear-gradient(
        to right,
        var(--ib-md-blockquote-border) 0 3px,
        transparent 3px 11px,
        var(--ib-md-blockquote-border) 11px 14px,
        transparent 14px 22px,
        var(--ib-md-blockquote-border) 22px 25px,
        transparent 25px 33px,
        var(--ib-md-blockquote-border) 33px 36px,
        transparent 36px 44px,
        var(--ib-md-blockquote-border) 44px 47px,
        transparent 47px
    );
}

.inline-md-root .monaco-editor .inline-md-quote .inline-md-strong,
.inline-md-root .monaco-editor .inline-md-quote .inline-md-em {
    color: inherit;
}

.inline-md-root .monaco-editor .inline-md-quote .inline-md-code {
    color: var(--ib-md-inline-code, var(--vscode-textPreformat-foreground, #c678dd));
    background: var(--ib-md-inline-code-background, rgb(33 37 43 / 63%));
}
