.inline-md-hr-line {
    display: flex;
    align-items: center;
    height: 100%;
}

.inline-md-hr {
    display: block;
    position: relative;
    top: 50%;
    width: 100%;
    height: 0;
    border: 0;
    border-top: 1px solid var(--vscode-editorWidget-border, #3c3c3c);
    margin: 0;
}
